.add-recipe-wrapper {
  width: 95%;
  max-width: 550px;
  padding: 4px;

  h2 {
    margin: 0.6rem 0;
  }

  h4 {
    margin: 0.5rem 0;
  }

  form {
    margin: 0 auto;
    margin-top: 1.5rem;
  }
}

.added-ingredient {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;

  button {
    background: none;
    border: none;
  }
}

.health-label {
  border: none;
  border-radius: 4px;
  margin: 4px;
  padding: 6px;
  font-size: 12px;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.selected {
  background: green;
  color: white;
}

.direction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 1rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 8px 0;
  .d-step {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
  }

  .d-instruction {
    width: 80%;
  }

  .d-close {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    margin-right: 0.75rem;
  }
}

.custom-textbox {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 1.5rem 0;
  .btn {
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
  }
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
