.form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  max-width: 450px;
  transform: translate(-50%, -50%);
  h2 {
    font-weight: 500;
  }
}

button {
  color: white;
  border: none;
  padding: 0.375rem 0.875rem;
  border-radius: 2px;
  text-transform: uppercase;

  &:hover {
    filter: brightness(110%);
  }
}

.form-group {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 500px;
  justify-content: flex-start;
  flex-flow: column;
  margin: 0.875rem auto;
  min-height: 50px;
  .MuiFormControl-root {
    width: 100%;
  }
}

.color-head {
  margin: 1rem auto;
  font-size: 1.15rem;
}

.color-pick {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
