header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  transition: all 0.3s ease;
  a {
    color: white;
    font-size: 1.15rem;
  }

  h4 {
    font-size: 1.5rem;
  }
}

.header-profile {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  align-items: center;
  flex-flow: column nowrap;
  width: 140px;
  border-radius: 4px;
  color: $dark;
  right: 0px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  li {
    margin: 1rem 0;
    text-align: center;
    font-size: 1.15rem;
    color: white;
    a {
      color: white;
      font-size: 1.15rem;
    }
    &:last-child {
      border: none;
    }

    &:hover {
      filter: brightness(105%);
      text-decoration: underline;
    }
  }
}

.auth-wrapper {
  position: relative;
  &:hover {
    color: white;
  }
}

.profile-btn {
  border: none;
  background: none;
  padding: 4px;
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.15rem;
}

.mobile-nav-btn {
  background: none;
  border: none;
  padding: 6px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  @media (min-width: $breakpoint-md) {
    display: none;
  }
}

.desktop-nav {
  display: none;

  ul {
    list-style: none;
    display: flex;
    align-items: center;

    .nav-link {
      color: white;
      margin-right: 1.375rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media (min-width: $breakpoint-md) {
    display: block;
  }
}

.close-el {
  width: 40%;
  position: fixed;
  background: transparent;
  left: 0;
  top: 0;
  z-index: 40;
  height: 100vh;
}

.click-off {
  width: 100%;
  height: 100vh;
  background: transparent;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 0;
}

.mobile-nav {
  height: 100vh;
  position: fixed;
  width: 60%;
  background: $dark;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 40;
  button {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    margin-top: 10px;
    margin-right: 14px;
    color: white;
    text-transform: uppercase;
  }
  nav {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    height: 50%;
    width: 100%;
    z-index: 40;
    ul {
      height: 100%;
      padding: 2px;
      margin: auto;
      width: 100%;
      list-style: none;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: space-between;
      li {
        margin-right: 1rem;
        white-space: nowrap;
        display: block;
        width: 100%;
        text-align: center;
        padding: 8px;
      }

      li,
      li a {
        font-size: 1.15rem;
      }
    }
  }

  @media (min-width: $breakpoint-md) {
    display: none;
  }
}
