.recipe-card {
  background: white;
  box-shadow: $boxShadow;
  max-width: 300px;
  width: 95%;
  position: relative;
  z-index: 30;
  h6 {
    font-size: 1rem;
    font-weight: 500;
  }
}

.card-link-wrapper {
  padding: 8px 12px;
  bottom: 0;
  font-size: 1rem;
  width: 100%;
  text-align: center;
  p {
    padding: 0;
    margin: 0;
    z-index: 0;
    color: white;
    font-weight: 600;
  }

  a {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 1rem;
    padding: 0;
    white-space: nowrap;
  }
  svg {
    margin-left: 4px;
  }
}

.image-wrapper {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  img {
    width: 100%;
    display: block;
  }
}

.detail-link {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.15rem;
  height: 64px;
  z-index: 20;
}

.source-link {
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
}

.title-bar {
  width: 100%;
  padding: 1rem;

  a {
    color: white;
  }
}
